<div class="my-container">
  <div class="card-box">
    <h3>Your question:</h3>
    <p><%= @question %></p>
  </div>

  <div class="card-box coach">
    <h3>Answer:</h3>
    <p><%= @answer %></p>
  </div>

  <%= link_to "Ask a new question", ask_path, class: 'btn btn-primary' %>
</div>
