<div style="margin: 0 10vw">
  <div style="border-left: 8px solid black; padding: 16px; box-shadow: 0 0 4px rgba(0,0,0,0.3); margin-bottom: 16px">
    <h2>Your question:</h2>
    <p><%= @question %></p>
  </div>

  <div style="border-left: 8px solid black; padding: 16px; box-shadow: 0 0 4px rgba(0,0,0,0.3)">
    <h2>Answer:</h2>
    <p><%= @answer %></p>
  </div>

  <%= link_to "Ask a new question" %>
</div>
