<div class="my-container">
  <h1 class='my-5'>Stupid Coach 2.0</h1>
  <form action="/answer" method="get">
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control" placeholder="Ask your question" aria-label="Ask your question" aria-describedby="button-addon2">
      <button class="btn btn-danger" type="submit" id="button-addon2">Ask</button>
    </div>
  </form>
</div>
